{% extends 'layouts/base_site.html' %}
{% load static %}
{% load static i18n %}
{% block content %} 

<div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
      <!-- Register -->
      <div class="card">
        <div class="card-body">
          <!-- Logo -->
          <div class="app-brand justify-content-center">
            <a href="index.html" class="app-brand-link gap-2">
              <!-- Ajout du logo -->
              <img src="{% static 'assets/img/logo.png' %}" alt="Logo MON LIVRO PRO" class="app-brand-logo" style="height: 100px;" /><br>
              {% comment %} <span class="app-brand-text demo text-body fw-bolder">MON LIVRO PRO</span> {% endcomment %}
            </a>
          </div>
          
          <!-- /Logo -->
          <h4 class="mb-2">Bienvenue à Mon Livro Pro ! 👋</h4>
          <p class="mb-4">S'il vous plaît, connectez-vous sur votre compte et commencez une nouvelle aventure avec nous. 🚀</p>

          <form    action="{% url 'login' %}" class="mb-3"   method="POST">

            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        <span style="font-size: 13px;">
                            {{ error|escape }}
                        </span>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="mb-3">
              <label for="email" class="form-label">Email ou Nom d'utilsateur </label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                placeholder="Entre l'email ou nom d'utilsateur"
                autofocus
              />
            </div>
            <div class="mb-3 form-password-toggle">
              <div class="d-flex justify-content-between">
                <label class="form-label" for="password">Mot de Passe</label>
                <a href="{% url 'password_reset' %}">
                  <small>Mot de passe oublié?</small>
                </a>
              </div>
              <div class="input-group input-group-merge">
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  name="password"
                  placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                  aria-describedby="password"
                />
                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
              </div>
            </div>
            <div class="mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="remember-me" />
                <label class="form-check-label" for="remember-me"> Souvenez-vous de moi  </label>
              </div>
            </div>
            <div class="mb-3">
              <button class="btn btn-primary d-grid w-100" type="submit">Se connecter</button>
            </div>
          </form>

          <p class="text-center">
            <span>Un nouveau sur notre plateforme ?</span>
            <a href="{% url 'register'%}">
              <span>Créer un compte</span>
            </a>
          </p>
        </div>
      </div>
      <!-- /Register -->
    </div>
    
    
{% endblock %}
