{% extends 'registration/base.html' %}
{% load static %}
{% load static i18n %}
{% block content %}
<div class="authentication-wrapper authentication-basic container-p-y">
  <div class="authentication-inner py-4">
    <!-- Reset Success -->
    <div class="card shadow-sm border-0">
      <div class="card-body text-center">
        <!-- Logo -->
        <div class="app-brand justify-content-center mb-4">
          <a href=" " class="app-brand-link gap-2 text-decoration-none">
            <img src="{% static 'assets/img/logo.png' %}" alt="Logo MON LIVRO PRO" class="app-brand-logo" style="height: 100px; margin-bottom: 15px;" />
          </a>
        </div>
        <!-- /Logo -->
        <h4 class="mb-3 text-primary fw-bold">Réinitialisation réussie !</h4>
        <p class="mb-4 text-muted">
          Votre mot de passe a été réinitialisé avec succès.<br>
          Vous pouvez maintenant vous connecter avec votre nouveau mot de passe.
        </p>

        <div class="text-center">
          <a href="{% url 'login' %}" class="btn btn-outline-primary d-flex align-items-center justify-content-center mt-3">
            <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm me-2"></i>
            Retour à la page de connexion
          </a>
        </div>
      </div>
    </div>
    <!-- /Reset Success -->
  </div>
</div>
{% endblock %}
