{% extends 'registration/base.html' %}
{% load static %}
{% load static i18n %}
{% block content %}
<div class="authentication-wrapper authentication-basic container-p-y">
  <div class="authentication-inner py-4">
    <!-- Forgot Password -->
    <div class="card">
      <div class="card-body">
        <!-- Logo -->
        <div class="app-brand justify-content-center">
          <a href="index.html" class="app-brand-link gap-2">
            <!-- Ajout du logo -->
            <img src="{% static 'assets/img/logo.png' %}" alt="Logo MON LIVRO PRO" class="app-brand-logo" style="height: 100px;" /><br>
            {% comment %} <span class="app-brand-text demo text-body fw-bolder">MON LIVRO PRO</span> {% endcomment %}
          </a>
        </div>
        <!-- /Logo -->
        <h4 class="mb-2">Mot de passe oublié ?  🔒</h4>
        <p class="mb-4"> Entrez votre e-mail et nous vous enverrons des instructions pour réinitialiser votre mot de passe</p>
        <form id="formAuthentication" class="mb-3"   method="POST">
          {% csrf_token %}
          {% if form.errors %}
        <div class="alert alert-danger">
            {% for error in form.errors.values %}
                <span style="font-size: 13px; display: inline-block; width: auto;">{{ error|escape }}</span>
            {% endfor %}
        </div>
        {% endif %}
          <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input
              type="email" placeholder placeholder
              class="form-control"
              id="email"
              name="email"
              placeholder="Entre votre email..."
              autofocus
            />
          </div>
          <button class="btn btn-primary d-grid w-100" type="submit">Envoyer le code de réinitialisation</button>
        </form>
        <div class="text-center">
          <a href="{% url 'login' %}" class="btn btn-outline-primary d-flex align-items-center justify-content-center mt-3">
            <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm me-2"></i>
            Retour à la page de connexion
          </a>
        </div>
      </div>
    </div>
    <!-- /Forgot Password -->
  </div>
</div>
</div>

  {% endblock %}
