{% extends 'registration/base.html' %}
{% load static %}
{% load static i18n %}
{% block content %}
<div class="authentication-wrapper authentication-basic container-p-y">
  <div class="authentication-inner py-4">
    <!-- Forgot Password -->
    <div class="card">
      <div class="card-body">
        <!-- Logo -->
        <div class="app-brand justify-content-center">
          <a href="index.html" class="app-brand-link gap-2">
            <!-- Ajout du logo -->
            <img src="{% static 'assets/img/logo.png' %}" alt="Logo MON LIVRO PRO" class="app-brand-logo" style="height: 100px;" /><br>
            {% comment %} <span class="app-brand-text demo text-body fw-bolder">MON LIVRO PRO</span> {% endcomment %}
          </a>
        </div>
        <!-- /Logo -->
        <h4 class="mb-2">Entre ton nouveau mot de passe🔒</h4>
         <form id="formAuthentication" class="mb-3"   method="POST">
          {% csrf_token %}
              <!-- password   -->
        <hr class="my-4">
        <div class="mb-3 form-password-toggle">
            <label class="form-label" for="password">Nouveau mot de passe</label>
            <div class="input-group input-group-merge">
              <input
                type="password"
                id="id_new_password1"
                class="form-control"
                name="new_password1"
                placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                aria-describedby="password1"
              />
              <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
              {% if form.new_password1.errors %}
                <div class="alert alert-danger mt-2">
                    {% for error in form.new_password1.errors %}
                        <span style="font-size: 13px;">{{ error|escape }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="mb-3 form-password-toggle">
            <label class="form-label" for="password"> Confirmez le mot de passe</label>
            <div class="input-group input-group-merge">
              <input
                type="password"
                id="id_password2"
                class="form-control"
                name="new_password2"
                placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                aria-describedby="password2"
              />
              <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
              {% if form.new_password2.errors %}
              <div class="alert alert-danger mt-2">
                  {% for error in form.new_password2.errors %}
                      <span style="font-size: 13px;">{{ error|escape }}</span>
                  {% endfor %}
              </div>
          {% endif %}
        </div>
          
          <button class="btn btn-primary d-grid w-100" type="submit">Réinitialiser le mot de passe</button>
        </form>
         
      </div>
    </div>
    <!-- /Forgot Password -->
  </div>
</div>
</div>

  {% endblock %}
